<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- For using the camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GDMP"
            android:value="io.gdmp.GDMP" />
    </application>
</manifest>
